<!DOCTYPE html>

<head>

</head>

<body>
    <div class="titlebar">
        <div></div>
    </div>
    <div class="app-container">
        <div class="workspace is-left-sidedock-open is-right-sidedock-open">
            <div class="workspace-split mod-horizontal mod-left-split"></div>
            <div class="workspace-split mod-vertical mod-root">
                <hr class="workspace-leaf-resize-handle">
                <div class="workspace-tabs mod-top" style="">
                    <hr class="workspace-leaf-resize-handle">
                    <div class="workspace-tab-header-container">
                        <div class="workspace-tab-header-container-inner" style="--animation-dur:250ms;">
                            <div class="workspace-tab-header is-active" draggable="true"
                                aria-label="Release Notes 1.0.3" aria-label-delay="50" data-type="release-notes"
                                style="">
                                <div class="workspace-tab-header-inner">
                                    <div class="workspace-tab-header-inner-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="svg-icon lucide-file">
                                            <path
                                                d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z">
                                            </path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                        </svg></div>
                                    <div class="workspace-tab-header-inner-title">Release Notes 1.0.3</div>
                                    <div class="workspace-tab-header-status-container"></div>
                                    <div class="workspace-tab-header-inner-close-button" aria-label="Close"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-x">
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="workspace-tab-header-new-tab"><span class="clickable-icon" aria-label="New tab"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="svg-icon lucide-plus">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg></span></div>
                        <div class="workspace-tab-header-spacer"></div>
                        <div class="workspace-tab-header-tab-list"><span class="clickable-icon"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="svg-icon lucide-chevron-down">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg></span></div>
                        <div class="sidebar-toggle-button mod-right" aria-label="" aria-label-position="left" style="">
                            <div class="clickable-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="svg-icon sidebar-right">
                                    <path
                                        d="M3 3H21C22.1046 3 23 3.89543 23 5V19C23 20.1046 22.1046 21 21 21H3C1.89543 21 1 20.1046 1 19V5C1 3.89543 1.89543 3 3 3Z">
                                    </path>
                                    <path d="M14 4V20"></path>
                                    <path d="M20 7H17"></path>
                                    <path d="M20 10H17"></path>
                                    <path d="M20 13H17"></path>
                                </svg></div>
                        </div>
                    </div>
                    <div class="workspace-tab-container">
                        <div class="workspace-leaf">
                            <hr class="workspace-leaf-resize-handle">
                            <div class="workspace-leaf-content" data-type="release-notes">
                                <div class="view-header">
                                    <div class="clickable-icon view-header-icon" draggable="true"
                                        aria-label="Drag to rearrange"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="svg-icon lucide-file">
                                            <path
                                                d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z">
                                            </path>
                                            <polyline points="14 2 14 8 20 8"></polyline>
                                        </svg></div>
                                    <div class="view-header-nav-buttons"><button class="clickable-icon"
                                            aria-disabled="true" aria-label="Navigate back"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="svg-icon lucide-arrow-left">
                                                <line x1="19" y1="12" x2="5" y2="12"></line>
                                                <polyline points="12 19 5 12 12 5"></polyline>
                                            </svg></button><button class="clickable-icon" aria-disabled="true"
                                            aria-label="Navigate forward"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="svg-icon lucide-arrow-right">
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                                <polyline points="12 5 19 12 12 19"></polyline>
                                            </svg></button></div>
                                    <div class="view-header-title-container mod-at-start">
                                        <div class="view-header-title-parent"></div>
                                        <div class="view-header-title">Release Notes </div>
                                    </div>
                                    <div class="view-actions"><a class="clickable-icon view-action"
                                            aria-label="Unlink tab" style="display: none;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="svg-icon lucide-link">
                                                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71">
                                                </path>
                                                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71">
                                                </path>
                                            </svg></a><a class="clickable-icon view-action mod-pin-leaf"
                                            aria-label="Pin" style="display: none;"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="svg-icon lucide-pin">
                                                <line x1="12" y1="17" x2="12" y2="22"></line>
                                                <path
                                                    d="M5 17h14v-1.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V6h1a2 2 0 0 0 0-4H8a2 2 0 0 0 0 4h1v4.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24Z">
                                                </path>
                                            </svg></a><a class="clickable-icon view-action"
                                            aria-label="More options"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="svg-icon lucide-more-vertical">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="12" cy="5" r="1"></circle>
                                                <circle cx="12" cy="19" r="1"></circle>
                                            </svg></a></div>
                                </div>
                                <div class="view-content release-notes-view">
                                    <div class="cm-scroller is-readable-line-width">
                                        <div class="markdown-preview-view markdown-rendered">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workspace-split mod-horizontal mod-right-split"></div>

        </div>
    </div>
</body>